.header {
  background-color: #f5f5f4;
  padding: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navList {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.navLink {
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
  border-radius: var(--border-radius);
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.navLink:hover {
  color: var(--bg-color);
  background-color: var(--accent-color);
}
