.header {
  color: var(--accent-color);
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

.navList {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.navLink {
  font-size: 2rem;
  font-weight: 900;
  padding-block: 1rem;
  color: var(--accent-color);
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

.navLink:hover {
  color: #000;
}
