.tableContainer {
  overflow-x: auto;
}
.table {
  margin-inline: auto;
  border-collapse: collapse;
  width: 100%;
}

.td,
.th,
.columnTitle,
.td > a {
  font-family: var(--table-font);
  font-size: 0.75rem;
  color: var(--td-font-color);
}

.th,
.td {
  height: var(--row-height);
  padding-inline: 0.75rem;
  text-align: left;
  border-bottom: 1px solid var(--primary-color);
}

.th {
  background-color: var(--primary-color);
  border-right: 1px solid var(--bg-color);
}

.th.sorted {
  background-color: var(--accent-color);
}

/* .tr:nth-child(even) {
  background-color: #f3f3f3;
} */

.tr:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.columnHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.columnTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: none;
  color: var(--th-font-color);
  cursor: pointer;
  text-transform: uppercase;
}

.tr {
  position: relative;
}

.a {
  padding: 1rem;
}

@media (max-width: 768px) {
  .table {
  }

  .th,
  .td {
    padding: 8px;
  }
}

.skeleton .skeletonText {
  height: 1em;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s ease-in-out infinite;
}

.skeleton .columnTitle.skeletonText {
  width: 70%;
  max-width: 150px;
}

.skeleton .td .skeletonText {
  width: 80%;
  max-width: 200px;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
